root:$1$O3JMY.Tw$AdLnLjQ/5jXF9.MTp3gHv/:53:0:root::
user1:$1$rI/aS9SR$U5lqli2v0j8INk4UNGhRV1:53:0:noogie::
user2:$1$G0xpbblp$MbSDibxqu8FRMG.gDdteX1:53:0:coogie::
user3:$1$D2ZSbF8m$KURCNYLhuk4Xt8FF9gv9e1:77:0:catman::
